<!DOCTYPE html>
<html class="wf-googlesans-n3-active wf-googlesans-n4-active wf-googlesans-n5-active wf-active" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, height=device-height">
    <title>
Intro to Coding Interviews: Algorithm Basics – Grasshopper
    </title>
    <meta property="og:image" content="https://grasshopper.app/assets/static/images/common/grasshopper.png">
<link href="https://grasshopper.app/curriculum/intro-to-coding-interviews/" hreflang="en" rel="alternate">
<link href="https://grasshopper.app/es_419/curriculum/intro-to-coding-interviews/" hreflang="es-419" rel="alternate">
<link href="https://grasshopper.app/pt_br/curriculum/intro-to-coding-interviews/" hreflang="pt-br" rel="alternate">
    <meta property="og:title" content="Intro to Coding Interviews: Algorithm Basics – Grasshopper">
    <meta property="og:site_name" content="Grasshopper">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://grasshopper.app/curriculum/intro-to-coding-interviews/">
    <meta name="description" content="Grasshopper is the coding app for beginners. With fun, quick lessons on your phone, the app teaches adult learners to write real JavaScript.">
    <meta property="og:description" content="Grasshopper is the coding app for beginners. With fun, quick lessons on your phone, the app teaches adult learners to write real JavaScript.">
    <link rel="canonical" href="https://grasshopper.app/curriculum/intro-to-coding-interviews/">

    <!-- Preload (Same-origin) -->
    <link rel="preload" as="script" href="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/main-9f7e0bff2bfb62bc810f33847c0da037588ea4e153f404ce075ee45d.js">
    <link rel="preload" as="style" href="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/main-db9e07b2849d570107957a8230bcf22f8cf00badd7d3e354b0b1abc.css">
    <link rel="preload" as="font" href="https://grasshopper.app/assets/static/fonts/gt-america/GT-America-Standard-Regular.woff2">
    <link rel="preload" as="font" href="https://grasshopper.app/assets/static/fonts/gt-america/GT-America-Standard-Medium.woff2">

    <!-- DNS Prefetch (Non-critical, Cross-origin) -->
    <link rel="dns-prefetch" href="https://www.google.com/">
    <link rel="dns-prefetch" href="https://stats.g.doubleclick.net/">
    <link rel="dns-prefetch" href="https://www.google-analytics.com/">
    <link rel="dns-prefetch" href="https://ssl.google-analytics.com/">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/">

    <link rel="shortcut icon" href="https://grasshopper.app/assets/static/images/common/favicon.png">
    <link rel="stylesheet" href="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/main-db9e07b2849d570107957a8230bcf22f8cf00badd7d3e354b0b1abc.css">

    <script src="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/webfont.js" type="text/javascript" async=""></script><script src="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/autotrack.js"></script>
    <script>
      var autotrack = new gweb.analytics.AutoTrack({
        trackQueryParams: true,
        profile: 'UA-87316542-3'
      });
    </script><link href="data:text/css,%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20ddg-runtime-checks%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20display%3A%20none%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20" rel="stylesheet" type="text/css"><link rel="stylesheet" href="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/css.css" media="all">
  </head>
  <body class="isFirefox">


<header class="header">
  <div class="header__container">
    <div class="header__logo" ng-class="{'delay-enable': enableLogo, 'hide': hideLogo}">
      <h1 class="header__logo__title">Grasshopper</h1>
      <a data-g-event="nav:click" data-g-label="logo" href="https://grasshopper.app/">
        <img class="header__logo__grasshopper background-images__image--mobile" alt="Logo" data-src="/assets/static/images/demo/demo__logo-grasshopper-lockup.svg">
        <img class="header__logo__grasshopper background-images__image--desktop initial loaded" alt="Logo" data-src="/assets/static/images/common/logo.blue.svg" src="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/logo.blue.svg" data-was-processed="true">
      </a>
    </div>

    <nav aria-label="main-menu" class="nav nav--main nav--left">
      <ul role="menubar" class="nav__items">
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="0" data-g-event="nav:click" data-g-label="what-is-coding" href="https://grasshopper.app/why-coding/">What is Coding</a>
        </li>
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="0" data-g-event="nav:click" data-g-label="curriculum" href="https://grasshopper.app/curriculum/">Curriculum</a>
        </li>
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="0" data-g-event="nav:click" data-g-label="glossary" href="https://grasshopper.app/glossary/">Glossary</a>
        </li>
      </ul>
    </nav>

    <nav aria-label="user-menu" class="nav nav--main nav--right">
      <ul role="menubar" class="nav__items">
        <li role="presentation" class="nav__items__item nav__items__item--not-ie">
          <a role="menuitem" tabindex="0" href="https://ghop.page.link/signin-cta" data-g-event="nav:click" data-g-label="sign-in">Sign In</a>
        </li>
      </ul>
    </nav>

    <nav aria-label="mobile-menu" class="nav nav--mobile" gh-mobile-menu="">
      <div class="nav__menu-icon" ng-click="hideLogo = true; enableLogo = false" gh-mobile-menu-open-button=""></div>
      <div class="nav__menu nav__menu--off-canvas" gh-mobile-menu-wrapper="">
        <div class="nav__logo">
          <a tabindex="-1" data-g-event="nav:click" data-g-label="grasshopper-logo" href="https://grasshopper.app/">
            <img class="header__logo__gh-icon" src="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/gh_icon.svg" alt="Grasshopper Logo">
          </a>
        </div>
        <div class="nav__close-icon" ng-click="enableLogo = true; hideLogo = false" gh-mobile-menu-close-button=""></div>
        <ul role="menubar" class="nav__items">
            <li role="presentation" data-g-event="nav:click" data-g-label="what-is-coding" class="nav__items__item ">
            <a role="menuitem" tabindex="-1" href="https://grasshopper.app/why-coding/">What is Coding</a>
          </li>
            <li role="presentation" data-g-event="nav:click" data-g-label="curriculum" class="nav__items__item ">
            <a role="menuitem" tabindex="-1" href="https://grasshopper.app/curriculum/">Curriculum</a>
          </li>
            <li role="presentation" data-g-event="nav:click" data-g-label="glossary" class="nav__items__item ">
            <a role="menuitem" tabindex="-1" href="https://grasshopper.app/glossary/">Glossary</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="header__container header__container--scroll" gh-header-scroll="">
    <div class="header__logo">
      <h1 class="header__logo__title">Grasshopper</h1>
      <a tabindex="-1" data-g-event="nav:click" data-g-label="grasshopper-logo" href="https://grasshopper.app/">
        <img class="header__logo__gh-icon initial loaded" data-src="/assets/static/images/common/gh_icon.svg" alt="Grasshopper Logo" src="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/gh_icon.svg" data-was-processed="true">
      </a>
    </div>

    <nav aria-label="scroll-menu-left" class="nav nav--scroll nav--left">
      <ul role="menubar" class="nav__items">
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="-1" data-g-event="nav:click" data-g-label="what-is-coding" href="https://grasshopper.app/why-coding/">What is Coding</a>
        </li>
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="-1" data-g-event="nav:click" data-g-label="curriculum" href="https://grasshopper.app/curriculum/">Curriculum</a>
        </li>
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="-1" data-g-event="nav:click" data-g-label="glossary" href="https://grasshopper.app/glossary/">Glossary</a>
        </li>
      </ul>
    </nav>

    <nav aria-label="scroll-menu-right" class="nav nav--scroll nav--right">
      <ul role="menubar" class="nav__items">
        <li role="presentation" class="nav__items__item nav__items__item--not-ie">
          <a role="menuitem" tabindex="-1" href="https://ghop.page.link/signin-cta" data-g-event="nav:click" data-g-label="sign-in">Sign In</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="header__modal" ng-class="{'header__modal--active': ghModal}">
    <div class="header__modal__wrapper" ng-click="ghModal = !ghModal"></div>
    <div class="header__modal__window">
      <div class="header__modal__close" ng-click="ghModal = !ghModal"></div>
      <div class="header__modal__title">Download the free Grasshopper app</div>
      <div class="header__modal__ctas ctas ctas--desktop">
          <a href="" data-utm-rewrite="" data-g-event="cta:click" data-g-label="None" class="cta__item cta-button google-play">
  <span class="cta-button__label">
   <span class="cta-button__label__label">None</span>
</span>
</a>

          <a href="" data-utm-rewrite="" data-g-event="cta:click" data-g-label="None" class="cta__item cta-button apple-itunes">
  <span class="cta-button__label">
   <span class="cta-button__label__label">None</span>
</span>
</a>

      </div>
    </div>
  </div>
</header>    <section class="main">
<section class="section-documentation">
  <div class="section-documentation__container">
    <nav class="section-documentation__sidebar" ng-class="{'section-documentation__sidebar__mobile-breadcrumb--active': ghMobileDocMenu}">
        <div class="section-documentation__sidebar__title">Curriculum</div>
        <div class="section-documentation__sidebar__description">Build your skills as you work through fun, progressively challenging courses.</div>
        <ul class="section-documentation__sidebar__list">
          <li class="section-documentation__sidebar__item">
            <a href="https://grasshopper.app/curriculum/fundamentals-1/">Fundamentals</a>
          </li>
          <li class="section-documentation__sidebar__item">
            <a href="https://grasshopper.app/curriculum/fundamentals-2/">Fundamentals II</a>
          </li>
          <li class="section-documentation__sidebar__item section-documentation__sidebar__item--active">
            <a href="https://grasshopper.app/curriculum/intro-to-coding-interviews/">Intro to Interviewing</a>
          </li>
          <li class="section-documentation__sidebar__item">
            <a href="https://grasshopper.app/curriculum/array-methods/">Array Methods</a>
          </li>
          <li class="section-documentation__sidebar__item">
            <a href="https://grasshopper.app/curriculum/animations/">Animations</a>
          </li>
          <li class="section-documentation__sidebar__item">
            <a href="https://grasshopper.app/curriculum/animations-2/">Animations II</a>
          </li>
          <li class="section-documentation__sidebar__item">
            <a href="https://grasshopper.app/curriculum/how-to-use-a-code-editor/">Using a Code Editor</a>
          </li>
          <li class="section-documentation__sidebar__item">
            <a href="https://grasshopper.app/curriculum/intro-to-webpages/">Intro to Webpages</a>
          </li>
        </ul>
    </nav>

    <div class="section-documentation__sidebar__mobile-breadcrumb section-documentation__sidebar__mobile-breadcrumb--active" ng-class="{'section-documentation__sidebar__mobile-breadcrumb--active': !ghMobileDocMenu}">
<a class="section-documentation__sidebar__mobile-breadcrumb__item" href="https://grasshopper.app/curriculum/">Curriculum</a>        <a class="section-documentation__sidebar__mobile-breadcrumb__item" href="https://grasshopper.app/curriculum/intro-to-coding-interviews/"> &gt; Intro to Interviewing</a>
    </div>

    <div class="section-documentation__sidebar__toggle-mobile" ng-class="{'section-documentation__sidebar__toggle-mobile--active': ghMobileDocMenu}" ng-click="ghMobileDocMenu = !ghMobileDocMenu">Toggle</div>

    <section class="section-documentation__main">
        <h1 id="intro-to-coding-interviews:-algorithm-basics">Intro to Coding Interviews: Algorithm Basics</h1>
<p>Learn tools used to solve real life problems and technical interview 
questions. At the end of this course, you'll solve a Google interview 
question.</p>
<hr>
<h2 id="tips-and-tricks">Tips and Tricks</h2>
<p>Refresh your JavaScript knowledge and learn some new tricks that will help you solve problems.</p>
<hr>
<h2 id="accessing-and-updating">Accessing and Updating</h2>
<p>Learn new ways to access and update arrays, strings and objects.</p>
<hr>
<h2 id="breaking-down-problems">Breaking Down Problems</h2>
<p>Flex your problem solving muscles by breaking down complex coding problems into smaller steps.</p>
<hr>
<h2 id="putting-it-all-together">Putting It All Together</h2>
<p>Write a set of functions and then combine them to solve a challenging Google interview question.</p>
    </section>
  </div>
</section>
    </section>

<footer class="footer ">
  <div class="footer__container">
      <div class="footer__nav footer__nav--main">
      <ul class="footer__nav__links">
        <li class="footer__nav__link ">
            <a href="https://grasshopper.app/" data-g-event="link:click" data-g-label="home" class="link">
  <span class="link__label">
   <span class="link__label__label">Home</span>
  </span>
</a>
        </li>
        <li class="footer__nav__link ">
            <a href="https://grasshopper.app/why-coding" data-g-event="link:click" data-g-label="what-is-coding" class="link">
  <span class="link__label">
   <span class="link__label__label">What is coding</span>
  </span>
</a>
        </li>
      </ul>
      </div>

    <div class="footer__nav footer__nav--link-nav footer__nav--resource">
      <ul class="footer__nav__links">
        <li class="footer__nav__link ">
            <a href="mailto:grasshopper-support@google.com" data-g-event="link:click" data-g-label="email-us" class="link">
  <span class="link__label">
   <span class="link__label__label">Email us</span>
  </span>
</a>
        </li>
      </ul>
    </div>
    <div class="footer__nav footer__nav--link-nav footer__nav--legal">
      <ul class="footer__nav__links">
        <li class="footer__nav__link ">
            <a href="https://www.google.com/policies/terms/" data-g-event="link:click" data-g-label="terms-of-service" class="link">
  <span class="link__label">
   <span class="link__label__label">Terms of service</span>
  </span>
</a>
        </li>
        <li class="footer__nav__link ">
            <a href="https://policies.google.com/privacy" data-g-event="link:click" data-g-label="privacy-policy" class="link">
  <span class="link__label">
   <span class="link__label__label">Privacy policy</span>
  </span>
</a>
        </li>
      </ul>
    </div>

  </div>
</footer>
<div class="cookieBarData" data-cookie-bar-main-text="This site uses cookies from Google to deliver its services and to analyze traffic." data-cookie-bar-more-text="Learn more." data-cookie-bar-consent-text="OK, got it">
</div>
<script type="text/javascript" src="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/cookie_consent_bar.v3.js"></script>
<script type="text/javascript">
  (function(){
    const cookieConsentData = document.querySelector('.cookieBarData');
    const locale = document.documentElement.lang;
    if (locale !== 'en'){
      new google.CookieConsentBar({
        'mainText': cookieConsentData.getAttribute('data-cookie-bar-main-text'),
        'moreText': cookieConsentData.getAttribute('data-cookie-bar-more-text'),
        'consentText': cookieConsentData.getAttribute('data-cookie-bar-consent-text')
      });
    }
  })();
</script>
    <script type="text/javascript">
      WebFontConfig = {google:{families:['Google+Sans:300,400,500,600&display=swap']}};
      (() => {
          let wf = document.createElement('script');
          wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          let s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <script src="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/angular.min.js"></script>
    <script src="Intro%20to%20Coding%20Interviews%20Algorithm%20Basics%20%E2%80%93%20Grasshopper_files/main-9f7e0bff2bfb62bc810f33847c0da037588ea4e153f404ce075ee45d.js"></script>
  
</body></html>