<!DOCTYPE html>
<html class="wf-googlesans-n3-active wf-googlesans-n4-active wf-googlesans-n5-active wf-active" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, height=device-height">
    <title>
What is Coding – Grasshopper
    </title>
    <meta property="og:image" content="https://grasshopper.app/assets/static/images/common/grasshopper.png">
<link href="https://grasshopper.app/why-coding/" hreflang="en" rel="alternate">
<link href="https://grasshopper.app/es_419/what-is-coding/" hreflang="es-419" rel="alternate">
<link href="https://grasshopper.app/pt_br/what-is-coding/" hreflang="pt-br" rel="alternate">
    <meta property="og:title" content="What is Coding – Grasshopper">
    <meta property="og:site_name" content="Grasshopper">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://grasshopper.app/why-coding/">
    <meta name="description" content="Grasshopper is the coding app for beginners. With fun, quick lessons on your phone, the app teaches adult learners to write real JavaScript.">
    <meta property="og:description" content="Grasshopper is the coding app for beginners. With fun, quick lessons on your phone, the app teaches adult learners to write real JavaScript.">
    <link rel="canonical" href="https://grasshopper.app/why-coding/">

    <!-- Preload (Same-origin) -->
    <link rel="preload" as="script" href="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/main-9f7e0bff2bfb62bc810f33847c0da037588ea4e153f404ce075ee45d.js">
    <link rel="preload" as="style" href="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/main-db9e07b2849d570107957a8230bcf22f8cf00badd7d3e354b0b1abc.css">
    <link rel="preload" as="font" href="https://grasshopper.app/assets/static/fonts/gt-america/GT-America-Standard-Regular.woff2">
    <link rel="preload" as="font" href="https://grasshopper.app/assets/static/fonts/gt-america/GT-America-Standard-Medium.woff2">

    <!-- DNS Prefetch (Non-critical, Cross-origin) -->
    <link rel="dns-prefetch" href="https://www.google.com/">
    <link rel="dns-prefetch" href="https://stats.g.doubleclick.net/">
    <link rel="dns-prefetch" href="https://www.google-analytics.com/">
    <link rel="dns-prefetch" href="https://ssl.google-analytics.com/">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/">

    <link rel="shortcut icon" href="https://grasshopper.app/assets/static/images/common/favicon.png">
    <link rel="stylesheet" href="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/main-db9e07b2849d570107957a8230bcf22f8cf00badd7d3e354b0b1abc.css">

    <script src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/webfont.js" type="text/javascript" async=""></script><script src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/autotrack.js"></script>
    <script>
      var autotrack = new gweb.analytics.AutoTrack({
        trackQueryParams: true,
        profile: 'UA-87316542-3'
      });
    </script><link href="data:text/css,%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20ddg-runtime-checks%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20display%3A%20none%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20" rel="stylesheet" type="text/css"><link rel="stylesheet" href="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/css.css" media="all">
  </head>
  <body class="isFirefox">


<header class="header">
  <div class="header__container">
    <div class="header__logo" ng-class="{'delay-enable': enableLogo, 'hide': hideLogo}">
      <h1 class="header__logo__title">Grasshopper</h1>
      <a data-g-event="nav:click" data-g-label="logo" href="https://grasshopper.app/">
        <img class="header__logo__grasshopper background-images__image--mobile" alt="Logo" data-src="/assets/static/images/demo/demo__logo-grasshopper-lockup.svg">
        <img class="header__logo__grasshopper background-images__image--desktop initial loaded" alt="Logo" data-src="/assets/static/images/common/logo.blue.svg" src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/logo.blue.svg" data-was-processed="true">
      </a>
    </div>

    <nav aria-label="main-menu" class="nav nav--main nav--left">
      <ul role="menubar" class="nav__items">
        <li role="presentation" class="nav__items__item nav__items__item--active">
          <a role="menuitem" tabindex="0" data-g-event="nav:click" data-g-label="what-is-coding" href="https://grasshopper.app/why-coding/">What is Coding</a>
        </li>
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="0" data-g-event="nav:click" data-g-label="curriculum" href="https://grasshopper.app/curriculum/">Curriculum</a>
        </li>
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="0" data-g-event="nav:click" data-g-label="glossary" href="https://grasshopper.app/glossary/">Glossary</a>
        </li>
      </ul>
    </nav>

    <nav aria-label="user-menu" class="nav nav--main nav--right">
      <ul role="menubar" class="nav__items">
        <li role="presentation" class="nav__items__item nav__items__item--not-ie">
          <a role="menuitem" tabindex="0" href="https://ghop.page.link/signin-cta" data-g-event="nav:click" data-g-label="sign-in">Sign In</a>
        </li>
      </ul>
    </nav>

    <nav aria-label="mobile-menu" class="nav nav--mobile" gh-mobile-menu="">
      <div class="nav__menu-icon" ng-click="hideLogo = true; enableLogo = false" gh-mobile-menu-open-button=""></div>
      <div class="nav__menu nav__menu--off-canvas" gh-mobile-menu-wrapper="">
        <div class="nav__logo">
          <a tabindex="-1" data-g-event="nav:click" data-g-label="grasshopper-logo" href="https://grasshopper.app/">
            <img class="header__logo__gh-icon" src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/gh_icon.svg" alt="Grasshopper Logo">
          </a>
        </div>
        <div class="nav__close-icon" ng-click="enableLogo = true; hideLogo = false" gh-mobile-menu-close-button=""></div>
        <ul role="menubar" class="nav__items">
            <li role="presentation" data-g-event="nav:click" data-g-label="what-is-coding" class="nav__items__item nav__items__item--active">
            <a role="menuitem" tabindex="-1" href="https://grasshopper.app/why-coding/">What is Coding</a>
          </li>
            <li role="presentation" data-g-event="nav:click" data-g-label="curriculum" class="nav__items__item ">
            <a role="menuitem" tabindex="-1" href="https://grasshopper.app/curriculum/">Curriculum</a>
          </li>
            <li role="presentation" data-g-event="nav:click" data-g-label="glossary" class="nav__items__item ">
            <a role="menuitem" tabindex="-1" href="https://grasshopper.app/glossary/">Glossary</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="header__container header__container--scroll inview" gh-header-scroll="">
    <div class="header__logo">
      <h1 class="header__logo__title">Grasshopper</h1>
      <a tabindex="-1" data-g-event="nav:click" data-g-label="grasshopper-logo" href="https://grasshopper.app/">
        <img class="header__logo__gh-icon initial loaded" data-src="/assets/static/images/common/gh_icon.svg" alt="Grasshopper Logo" src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/gh_icon.svg" data-was-processed="true">
      </a>
    </div>

    <nav aria-label="scroll-menu-left" class="nav nav--scroll nav--left">
      <ul role="menubar" class="nav__items">
        <li role="presentation" class="nav__items__item nav__items__item--active">
          <a role="menuitem" tabindex="-1" data-g-event="nav:click" data-g-label="what-is-coding" href="https://grasshopper.app/why-coding/">What is Coding</a>
        </li>
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="-1" data-g-event="nav:click" data-g-label="curriculum" href="https://grasshopper.app/curriculum/">Curriculum</a>
        </li>
        <li role="presentation" class="nav__items__item ">
          <a role="menuitem" tabindex="-1" data-g-event="nav:click" data-g-label="glossary" href="https://grasshopper.app/glossary/">Glossary</a>
        </li>
      </ul>
    </nav>

    <nav aria-label="scroll-menu-right" class="nav nav--scroll nav--right">
      <ul role="menubar" class="nav__items">
        <li role="presentation" class="nav__items__item nav__items__item--not-ie">
          <a role="menuitem" tabindex="-1" href="https://ghop.page.link/signin-cta" data-g-event="nav:click" data-g-label="sign-in">Sign In</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="header__modal" ng-class="{'header__modal--active': ghModal}">
    <div class="header__modal__wrapper" ng-click="ghModal = !ghModal"></div>
    <div class="header__modal__window">
      <div class="header__modal__close" ng-click="ghModal = !ghModal"></div>
      <div class="header__modal__title">Download the free Grasshopper app</div>
      <div class="header__modal__ctas ctas ctas--desktop">
          <a href="" data-utm-rewrite="" data-g-event="cta:click" data-g-label="None" class="cta__item cta-button google-play">
  <span class="cta-button__label">
   <span class="cta-button__label__label">None</span>
</span>
</a>

          <a href="" data-utm-rewrite="" data-g-event="cta:click" data-g-label="None" class="cta__item cta-button apple-itunes">
  <span class="cta-button__label">
   <span class="cta-button__label__label">None</span>
</span>
</a>

      </div>
    </div>
  </div>
</header>    <section class="main main--what-is-coding inview">
<div class="section-animated-background">
  <div class="section-animated-background__container">
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--1" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--2" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--3" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--4" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--5" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--6" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--7" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--8" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--9" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--10" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-square section-animated-background__svg-square--11" width="50px" height="50px" viewBox="0 0 50 50">
      <rect class="section-animated-background__square" x="0.77398322" y="0.397442376" width="50" height="50"></rect>
    </svg>
    <svg class="section-animated-background__svg-box section-animated-background__svg-box--1" width="190px" height="190px" viewBox="0 0 190 190">
      <defs>
        <rect id="path-1" x="1" y="1" width="17.2335861" height="17.2335861"></rect>
        <rect id="path-2" x="1" y="173.335861" width="17.2335861" height="17.2335861"></rect>
        <rect id="path-3" x="173.335861" y="1" width="17.2335861" height="17.2335861"></rect>
        <rect id="path-4" x="173.335861" y="173.335861" width="17.2335861" height="17.2335861"></rect>
      </defs>
      <g id="Group-4-Copy-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="Rectangle" stroke="#B9B9B9" stroke-width="2" transform="translate(95.784724, 95.784724) rotate(-360.000000) translate(-95.784724, -95.784724) " x="8.4625948" y="8.4625948" width="174.644258" height="174.644258"></rect>
        <g id="Rectangle-2">
          <use fill="#4A4A4A" fill-rule="evenodd" xlink:href="#path-1"></use>
          <rect stroke="#4A4A4A" stroke-width="2" x="2" y="2" width="15.2335861" height="15.2335861"></rect>
        </g>
        <g id="Rectangle-2-Copy-2">
          <use fill="#4A4A4A" fill-rule="evenodd" xlink:href="#path-2"></use>
          <rect stroke="#4A4A4A" stroke-width="2" x="2" y="174.335861" width="15.2335861" height="15.2335861"></rect>
        </g>
        <g id="Rectangle-2-Copy">
          <use fill="#4A4A4A" fill-rule="evenodd" xlink:href="#path-3"></use>
          <rect stroke="#4A4A4A" stroke-width="2" x="174.335861" y="2" width="15.2335861" height="15.2335861"></rect>
        </g>
        <g id="Rectangle-2-Copy-3">
          <use fill="#4A4A4A" fill-rule="evenodd" xlink:href="#path-4"></use>
          <rect stroke="#4A4A4A" stroke-width="2" x="174.335861" y="174.335861" width="15.2335861" height="15.2335861"></rect>
        </g>
      </g>
    </svg>
    <svg class="section-animated-background__svg-box section-animated-background__svg-box--2" width="190px" height="190px" viewBox="0 0 190 190">
      <defs>
        <rect id="path-1" x="1" y="1" width="17.2335861" height="17.2335861"></rect>
        <rect id="path-2" x="1" y="173.335861" width="17.2335861" height="17.2335861"></rect>
        <rect id="path-3" x="173.335861" y="1" width="17.2335861" height="17.2335861"></rect>
        <rect id="path-4" x="173.335861" y="173.335861" width="17.2335861" height="17.2335861"></rect>
      </defs>
      <g id="Group-4-Copy-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="Rectangle" stroke="#B9B9B9" stroke-width="2" transform="translate(95.784724, 95.784724) rotate(-360.000000) translate(-95.784724, -95.784724) " x="8.4625948" y="8.4625948" width="174.644258" height="174.644258"></rect>
        <g id="Rectangle-2">
          <use fill="#4A4A4A" fill-rule="evenodd" xlink:href="#path-1"></use>
          <rect stroke="#4A4A4A" stroke-width="2" x="2" y="2" width="15.2335861" height="15.2335861"></rect>
        </g>
        <g id="Rectangle-2-Copy-2">
          <use fill="#4A4A4A" fill-rule="evenodd" xlink:href="#path-2"></use>
          <rect stroke="#4A4A4A" stroke-width="2" x="2" y="174.335861" width="15.2335861" height="15.2335861"></rect>
        </g>
        <g id="Rectangle-2-Copy">
          <use fill="#4A4A4A" fill-rule="evenodd" xlink:href="#path-3"></use>
          <rect stroke="#4A4A4A" stroke-width="2" x="174.335861" y="2" width="15.2335861" height="15.2335861"></rect>
        </g>
        <g id="Rectangle-2-Copy-3">
          <use fill="#4A4A4A" fill-rule="evenodd" xlink:href="#path-4"></use>
          <rect stroke="#4A4A4A" stroke-width="2" x="174.335861" y="174.335861" width="15.2335861" height="15.2335861"></rect>
        </g>
      </g>
    </svg>
  </div>
</div>

<section class="section-columns section-columns--half-width section-columns--left-aligned section-columns--padding-small section-columns--what-is-coding inview">
  <div class="section-columns__container">
    <div class="section-columns__column section-columns__column--one-column">



      <div class="section-columns__column__title">What is coding?</div>


      <div class="section-columns__column__body">Coding, sometimes 
called computer programming, is how we communicate with computers. Code 
tells a computer what actions to take, and writing code is like creating
 a set of instructions. 

By learning to write code, you can tell computers what to do or how to 
behave in a much faster way. You can use this skill to make websites and
 apps, process data, and do lots of other cool things.</div>






    </div>
  </div>
</section>

<section class="section-columns section-columns--half-width section-columns--left-aligned section-columns--padding-small section-columns--why-learn inview">
  <div class="section-columns__container">
    <div class="section-columns__column section-columns__column--one-column section-columns__column--large-title">



      <div class="section-columns__column__title">Why learn how to&nbsp;code?</div>


      <div class="section-columns__column__body">We all have hopes, 
dreams, and plans for the future. Whether you’re looking for a new 
opportunity, want to optimize your current job, or are simply searching 
for a new hobby, coding can help you get closer to your goals. And 
remember, anyone can learn how to&nbsp;code!</div>






    </div>
  </div>
</section>

<section class="section-columns section-columns--left-aligned section-columns--padding-small section-columns--learn-skills inview">
  <div class="section-columns__container">
    <div class="section-columns__column section-columns__column--two-third-column section-columns__column--large-title">



      <div class="section-columns__column__title">Learn skills that will open doors</div>


      <div class="section-columns__column__body">Computer and 
information technology jobs are growing incredibly fast in the United 
States and across the globe. You don't need a Computer Science degree; 
there are more and more high-paying jobs emerging every day for newer 
learners like you.</div>






    </div>
    <div class="section-columns__column section-columns__column--one-third-column">

      <div class="section-columns__column__images">
          <div class="section-columns__column__image">
            <img data-src="/assets/static/images/coding/Coding_OpenDoors.svg" alt="Animate" class="initial loaded" src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/Coding_OpenDoors.svg" data-was-processed="true">
          </div>
      </div>









    </div>
  </div>
</section>

<section class="section-columns section-columns--left-aligned section-columns--padding-small section-columns--make-stuff inview">
  <div class="section-columns__container">
    <div class="section-columns__column section-columns__column--one-third-column">

      <div class="section-columns__column__images">
          <div class="section-columns__column__image">
            <img data-src="/assets/static/images/coding/Coding_MakeCoolStuff.svg" alt="Animate" class="initial loaded" src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/Coding_MakeCoolStuff.svg" data-was-processed="true">
          </div>
      </div>









    </div>
    <div class="section-columns__column section-columns__column--two-third-column section-columns__column--large-title">



      <div class="section-columns__column__title">Make cool stuff</div>


      <div class="section-columns__column__body">Ever wanted to make an 
app or a website? Code does that. It can also help you automate a 
spreadsheet or create new tools for your community. Learning to code 
makes it possible to imagine the things you want to make and actually 
build them.</div>






    </div>
  </div>
</section>

<section class="section-columns section-columns--left-aligned section-columns--padding-small section-columns--have-fun inview">
  <div class="section-columns__container">
    <div class="section-columns__column section-columns__column--two-third-column section-columns__column--large-title">



      <div class="section-columns__column__title">Have loads of fun</div>


      <div class="section-columns__column__body">Have you ever met a 
coder who regretted learning to code? Probably not, because learning to 
code is fun and empowering! Coding also opens up a whole new community 
and network for you. In fact, we've heard the term "addictive" 
regularly.</div>






    </div>
    <div class="section-columns__column section-columns__column--one-third-column">

      <div class="section-columns__column__images">
          <div class="section-columns__column__image">
            <img data-src="/assets/static/images/coding/Coding_Celebrate.svg" alt="Animate" class="initial loaded" src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/Coding_Celebrate.svg" data-was-processed="true">
          </div>
      </div>









    </div>
  </div>
</section>    </section>

<footer class="footer ">
  <div class="footer__container">
      <div class="footer__nav footer__nav--main">
      <ul class="footer__nav__links">
        <li class="footer__nav__link ">
            <a href="https://grasshopper.app/" data-g-event="link:click" data-g-label="home" class="link">
  <span class="link__label">
   <span class="link__label__label">Home</span>
  </span>
</a>
        </li>
        <li class="footer__nav__link ">
            <a href="https://grasshopper.app/why-coding" data-g-event="link:click" data-g-label="what-is-coding" class="link">
  <span class="link__label">
   <span class="link__label__label">What is coding</span>
  </span>
</a>
        </li>
      </ul>
      </div>

    <div class="footer__nav footer__nav--link-nav footer__nav--resource">
      <ul class="footer__nav__links">
        <li class="footer__nav__link ">
            <a href="mailto:grasshopper-support@google.com" data-g-event="link:click" data-g-label="email-us" class="link">
  <span class="link__label">
   <span class="link__label__label">Email us</span>
  </span>
</a>
        </li>
      </ul>
    </div>
    <div class="footer__nav footer__nav--link-nav footer__nav--legal">
      <ul class="footer__nav__links">
        <li class="footer__nav__link ">
            <a href="https://www.google.com/policies/terms/" data-g-event="link:click" data-g-label="terms-of-service" class="link">
  <span class="link__label">
   <span class="link__label__label">Terms of service</span>
  </span>
</a>
        </li>
        <li class="footer__nav__link ">
            <a href="https://policies.google.com/privacy" data-g-event="link:click" data-g-label="privacy-policy" class="link">
  <span class="link__label">
   <span class="link__label__label">Privacy policy</span>
  </span>
</a>
        </li>
      </ul>
    </div>

  </div>
</footer>
<div class="cookieBarData" data-cookie-bar-main-text="This site uses cookies from Google to deliver its services and to analyze traffic." data-cookie-bar-more-text="Learn more." data-cookie-bar-consent-text="OK, got it">
</div>
<script type="text/javascript" src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/cookie_consent_bar.v3.js"></script>
<script type="text/javascript">
  (function(){
    const cookieConsentData = document.querySelector('.cookieBarData');
    const locale = document.documentElement.lang;
    if (locale !== 'en'){
      new google.CookieConsentBar({
        'mainText': cookieConsentData.getAttribute('data-cookie-bar-main-text'),
        'moreText': cookieConsentData.getAttribute('data-cookie-bar-more-text'),
        'consentText': cookieConsentData.getAttribute('data-cookie-bar-consent-text')
      });
    }
  })();
</script>
    <script type="text/javascript">
      WebFontConfig = {google:{families:['Google+Sans:300,400,500,600&display=swap']}};
      (() => {
          let wf = document.createElement('script');
          wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          let s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <script src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/angular.min.js"></script>
    <script src="What%20is%20Coding%20%E2%80%93%20Grasshopper_files/main-9f7e0bff2bfb62bc810f33847c0da037588ea4e153f404ce075ee45d.js"></script>
  
</body></html>